body {
  padding-top: 50px;
  padding-bottom: 20px;
}
/* Set padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
  white-space: normal;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
  max-width: 280px;
}
/*added by me for validation by KEF*/
span.field-validation-error {
  color: red;
  font-weight: bold;
}
/*Vertical offset for elemets KEF*/
.voffset {
  margin-top: 2px;
}
.voffset1 {
  margin-top: 5px;
}
.voffset2 {
  margin-top: 10px;
}
.voffset3 {
  margin-top: 20px;
}
.voffset4 {
  margin-top: 40px;
}
.voffset5 {
  margin-top: 80px;
}
/* Bootstraps Overrides */
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('fonts/glyphicons-halflings-regular.eot');
  src: url('fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('fonts/glyphicons-halflings-regular.woff') format('woff'), url('fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
.navbar-inverse {
  background-color: #ff4342;
  border-color: #ff4342;
}
.navbar-inverse .navbar-brand {
  color: #ffffff;
}
.navbar-inverse .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .open > a {
  background-color: rgba(218, 57, 56, 0.55);
}
.navbar-inverse .navbar-nav > .open > a:hover {
  background-color: rgba(218, 57, 56, 0.55);
}
.navbar-inverse .navbar-nav > .open > a:focus {
  background-color: rgba(218, 57, 56, 0.55);
}
body,
.tooltip,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.form-group {
  margin-bottom: 20px;
}
body {
  font-size: 22px;
}
.form-control {
  font-size: 17px;
  height: 44px;
}
.form-control:focus {
  -webkit-box-shadow: none;
  border-color: #66e1e9;
  box-shadow: none;
  outline: 0;
}
.navbar-brand {
  font-weight: 700;
}
.navbar-right .notifications {
  position: relative;
}
.navbar-right .notifications .badge {
  background-color: #bf3636;
  background: #bf3636;
  position: absolute;
  right: -1px;
  top: 8px;
}
/* Page-level styles */
.gigs {
  list-style: none;
}
.gigs > li {
  margin: 30px;
  position: relative;
}
.gigs > li .date {
  -ms-border-radius: 8px;
  background: red;
  border-radius: 8px;
  color: white;
  text-align: center;
  width: 60px;
}
.gigs > li .date .month {
  font-size: 14px;
  font-weight: bold;
  padding: 2px 6px;
  text-transform: uppercase;
}
.gigs > li .date .day {
  background: #f7f7f7;
  color: #333333;
  font-size: 20px;
  padding: 6px 12px;
}
.gigs > li .details {
  left: 70px;
  position: absolute;
  top: 0;
}
.gigs > li .details .artist {
  display: block;
  font-weight: bold;
}
.gigs > li .details .genre {
  font-size: 15px;
  display: block;
  margin-bottom: 4px;
}
.gigs > li .actions {
  display: none;
  font-size: 14px;
}
.gigs > li:hover .actions {
  display: block;
}
.popover-notifications {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.popover-notifications .popover-content {
  padding: 0;
}
.popover-notifications ul.notifications-template {
  list-style: none;
  padding-left: 0;
  height: auto;
  max-height: 200px;
  overflow: auto;
}
.popover-notifications ul.notifications-template > li {
  border-bottom: 1px solid #333333;
  padding: 10px;
}
.popover-notifications ul.notifications-template > li .highlight {
  font-weight: bold;
}
.popover-notifications ul.notifications-template > li:last-child {
  border-bottom: none;
}
div#searchGigs {
  -webkit-box-shadow: none;
  -webkit-transition: none;
  box-shadow: none;
  transition: none;
  width: 250px;
}