<connectionStrings>
  <!--<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-GigHub-20161201094412.mdf;Initial Catalog=aspnet-GigHub-20161201094412;Integrated Security=True" providerName="System.Data.SqlClient" />-->
  <add name="DefaultConnection" connectionString="Data Source=DESKTOP-QTRMB5C\SQLEXPRESS_16;Initial Catalog=aspnet-GigHub;User ID=kradwan;Password=Pa$$w0rd!;Integrated Security=True" providerName="System.Data.SqlClient" />
</connectionStrings>